<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" >
<listeners>
<listener class-name="listners.MyTestNGListners" />
</listeners>
 <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.regression.ValidateLoginPOM"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
